*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 730px) {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: $padding-section;
}

.mb {
    &-0 {
        margin-bottom: 0 !important;
    }

    &-1 {
        margin-bottom: $spacer * 0.25 !important;
    }

    &-2 {
        margin-bottom: $spacer * 0.5 !important;
    }

    &-3 {
        margin-bottom: $spacer * 0.75 !important;
    }

    &-4 {
        margin-bottom: $spacer !important;
    }

    &-5 {
        margin-bottom: $spacer * 1.25 !important;
    }

    &-6 {
        margin-bottom: $spacer * 1.5 !important;
    }

    &-7 {
        margin-bottom: $spacer * 1.75 !important;
    }

    &-8 {
        margin-bottom: $spacer * 2 !important;
    }

    &-9 {
        margin-bottom: $spacer * 2.25 !important;
    }

    &-10 {
        margin-bottom: $spacer * 2.5 !important;
    }

    &-x4 {
        margin-bottom: $spacer * 4 !important;
    }
}

.mt {
    &-0 {
        margin-top: 0 !important;
    }

    &-1 {
        margin-top: $spacer * 0.25 !important;
    }

    &-2 {
        margin-top: $spacer * 0.5 !important;
    }

    &-3 {
        margin-top: $spacer * 0.75 !important;
    }

    &-4 {
        margin-top: $spacer !important;
    }

    &-5 {
        margin-top: $spacer * 1.25 !important;
    }

    &-6 {
        margin-top: $spacer * 1.5 !important;
    }

    &-7 {
        margin-top: $spacer * 1.75 !important;
    }

    &-8 {
        margin-top: $spacer * 2 !important;
    }

    &-9 {
        margin-top: $spacer * 2.25 !important;
    }

    &-10 {
        margin-top: $spacer * 2.5 !important;
    }

    &-x4 {
        margin-top: $spacer * 4 !important;
    }
}

img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    #nav {
        width: 50%;
        padding: 60px 60px 0 60px;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    .empty {
        width: 25%;
        padding: 60px 60px 0 60px;
    }

    .home {
        width: 25%;
        padding: 60px 60px 0 60px;
        text-align: center;
        img {
            width: 200px;
            height: 50px;
        }
    }
}

footer {
    div {
        display: flex;
        width: 100%;
        justify-content: end;
        a img {
            height: 30px;
            width: auto;
        }
    }
}
