* {
    font-family: 'Roboto', sans-serif;
}

.title {
    &-omf {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }

    &-large {
        font-size: x-large;
    }

    &-core {
        font-weight: 400;
        margin-bottom: 20px;
        margin-left : 20px;

        div {
            width: 40px;
            border-bottom: 5px solid $colour-tertiary;
            border-radius: 5px;
        }
    }
}


.uppercase {
    text-transform: uppercase;
}
