@mixin secondary {
    background-color: #fafafa;
    color: #525252;
}

@mixin box-shadow($intensity: 0.4) {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, $intensity), -4px -4px 8px 0 rgba(0, 0, 0, $intensity);
}

@mixin tag {
    color: $color-secondary;
    list-style: none;
    border-radius: 10px;
    margin: 5px;
    z-index: 1;

    li {
        z-index: -1;
        padding: 2px 5px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $color-secondary;

        &::before {
            content: "#";
            font-style: italic;
        }

        &.activated {
            background-color: $bgcolor-primary;
            color: white;
        }
    }
}

@mixin name-user {
    color: $color-primary;
    margin: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
}

@mixin btn-principal {
    border-style: none;
    border-radius: 5px;
    outline-style: none;
    background-color: $bgcolor-primary;
    cursor: pointer;
    color: white;
    padding: 20px 10px;
    font-size: 1em;
    font-weight: 600;
    &:focus {
        border-radius: 5px;
        border: 2px solid black;
    }
}

@mixin img-user {
    .img_user-profil {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin: 20px auto;
        @media screen and (max-width: 1200px) {
            width: 100px;
            height: 100px;
        }
    }

    .img_user {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin: 20px auto;
    }
    .imgL {
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    .imgP {
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: auto;
            height: 100%;
        }
    }
}
