@mixin secondary {
    background-color: #fafafa;
    color: #525252;
}

@mixin box-shadow($intensity: 0.4) {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, $intensity), -4px -4px 8px 0 rgba(0, 0, 0, $intensity);
}

@mixin tag {
    color: $color-secondary;
    list-style: none;
    border-radius: 10px;
    margin: 5px;
    z-index: 1;

    li {
        z-index: -1;
        padding: 2px 5px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $color-secondary;

        &::before {
            content: "#";
            font-style: italic;
        }

        &.activated {
            background-color: $bgcolor-primary;
            color: white;
        }
    }
}

@mixin name-user {
    font-weight: 400;
    color: $color-primary;
    margin: 2px;
    font-size: xx-large;
}

@mixin btn-principal {
    border-style: none;
    border-radius: 5px;
    outline-style: none;
    background-color: $bgcolor-primary;
    cursor: pointer;
    color: white;
}
