$bgcolor-primary: #901C1C;
$color-primary: #D3573C;
$bgcolor-secondary: #D3573C;
$color-secondary: #901C1C;


$spacer: 1rem;

$marge-hight: 20px;
$marge-medium: $marge-hight / 2;
$marge-thin: $marge-hight / 4;
$padding-section: 30px 10px 30px 10px;

