$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$spacer: 1rem;

$marge-hight: 20px;
$marge-medium: $marge-hight / 2;
$marge-thin: $marge-hight / 4;
$padding-section: 30px 10px 30px 10px;

