@keyframes popOn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0%, 99% {
    position: relative;
  }
  100% {
    position: absolute;
  }
}
@keyframes appear {
  0%, 99% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}
@keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 30px 10px 30px 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 1.25rem !important;
}
.mb-6 {
  margin-bottom: 1.5rem !important;
}
.mb-7 {
  margin-bottom: 1.75rem !important;
}
.mb-8 {
  margin-bottom: 2rem !important;
}
.mb-9 {
  margin-bottom: 2.25rem !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.mb-x4 {
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 1.25rem !important;
}
.mt-6 {
  margin-top: 1.5rem !important;
}
.mt-7 {
  margin-top: 1.75rem !important;
}
.mt-8 {
  margin-top: 2rem !important;
}
.mt-9 {
  margin-top: 2.25rem !important;
}
.mt-10 {
  margin-top: 2.5rem !important;
}
.mt-x4 {
  margin-top: 4rem !important;
}

img {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
header #nav {
  width: 50%;
  padding: 60px 60px 0 60px;
}
@media screen and (max-width: 1200px) {
  header #nav {
    width: 100%;
  }
}
header .empty {
  width: 25%;
  padding: 60px 60px 0 60px;
}
header .home {
  width: 25%;
  padding: 60px 60px 0 60px;
  text-align: center;
}
header .home img {
  width: 200px;
  height: 50px;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #901C1C;
  font-weight: 400;
}

.btn {
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
}
.btn__principal {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px -4px 8px 0 rgba(0, 0, 0, 0.4);
}
.btn__principal:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.8), -4px -4px 8px 0 rgba(0, 0, 0, 0.8);
}
.btn--thin {
  width: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list li {
  margin-bottom: 10px;
}
.list__normal li {
  display: flex;
  border-radius: 25px;
  align-items: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px -4px 8px 0 rgba(0, 0, 0, 0.4);
  margin: 0 20px 20px 20px;
  z-index: 1;
  position: relative;
}
.list__normal li i {
  margin: 20px;
  color: grey;
}
.list__normal li .text {
  font-weight: 600;
}
.list__normal li .style--round {
  border-radius: 50%;
  background-color: #D3573C;
  color: white;
  height: 20px;
  width: 20px;
  position: relative;
  right: 5px;
  display: flex;
}
.list__normal li .style--round span {
  margin: auto;
}
.list__normal li:hover .background {
  opacity: 1;
}
.list__normal li:hover i {
  color: #D3573C;
}
.list__normal li .background {
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d93939;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms linear;
}

.loader {
  color: black;
  font-size: 20px;
  margin: 200px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: load 1.4s 2 linear, disappear 4s linear both;
}

.tags {
  margin: auto;
  width: 100%;
  font-size: small;
}
.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tags ul .tag-link {
  color: #901C1C;
  border-radius: 10px;
  border: 1px solid #901C1C;
  list-style: none;
  margin: 5px;
  z-index: 1;
}
.tags ul .tag-link li {
  z-index: -1;
  margin: 2px 5px;
  text-align: center;
}
.tags ul .tag-link:hover {
  background-color: #901C1C;
  color: white;
}
.tags ul .tag {
  color: #901C1C;
  border-radius: 10px;
  border: 1px solid #901C1C;
  list-style: none;
  margin: 5px;
  z-index: 1;
}
.tags ul .tag li {
  z-index: -1;
  margin: 2px 5px;
  text-align: center;
}

.group-cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
  width: 100%;
}
.group-cards .card_user {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  transition: 0.3s;
  border-radius: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22%;
  min-width: 22%;
}
.group-cards .card_user:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1), -4px -4px 8px 0 rgba(0, 0, 0, 0.1);
}
.group-cards .card_user_link-profil {
  text-align: center;
}
.group-cards .card_user_link-profil .img_user {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
.group-cards .card_user_link-profil .imgL img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.group-cards .card_user_link-profil .imgP img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
}
.group-cards .card_user_link-profil h2 {
  font-weight: 400;
  color: #D3573C;
  margin: 2px;
  font-size: xx-large;
}
.group-cards .card_user .text_user {
  text-align: center;
}
.group-cards .card_user .text_user > * {
  margin: 3px;
}
.group-cards .card_user .text_user .loc_user {
  color: #901C1C;
  font-size: larger;
  margin: 3px;
}
.group-cards .card_user .text_user .price_user {
  color: #D3573C;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  max-width: 500px;
}
.menu__title .favory {
  border: none;
  outline: none;
  z-index: 1;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50px;
  font-size: 1.5em;
}
.menu__title .favory--empty {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: color 1000ms ease-out;
}
.menu__title .favory--empty:hover {
  color: #D3573C;
}
.menu__title .favory--empty:hover + .favory--full {
  opacity: 1;
  transform: scale(1);
}
.menu__title .favory--full {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: all 1000ms ease-out;
  transform-origin: bottom;
  color: #D3573C;
}
.menu__title .favory--full:hover {
  opacity: 1;
  transform: scale(1);
}
.menu__title .favory--full:hover + .favory--empty {
  color: #D3573C;
}
.menu__core {
  background-color: white;
  max-width: 500px;
  /* jusqu'a 3 : valeur prise en fonction du nombre parti dans un menu 'entree' 'plat' et 'dessert'*/
}
.menu__core > .menu__part {
  padding: 10px 0px 5px 0px;
  max-width: 100vw;
}
.menu__core .menu__part:nth-child(0) {
  /* jusqu'a 5 : valeur a changer en fonction du nombre de plat par menu */
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(0) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 0s;
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(1) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(2) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(3) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(4) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 1s;
}
.menu__core .menu__part:nth-child(0) .card_dish:nth-child(5) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 1.5s;
}
.menu__core .menu__part:nth-child(1) {
  /* jusqu'a 5 : valeur a changer en fonction du nombre de plat par menu */
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(0) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 1.6s;
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(1) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 1.7s;
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(2) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 1.9s;
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(3) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 2.2s;
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(4) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 2.6s;
}
.menu__core .menu__part:nth-child(1) .card_dish:nth-child(5) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 3.1s;
}
.menu__core .menu__part:nth-child(2) {
  /* jusqu'a 5 : valeur a changer en fonction du nombre de plat par menu */
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(0) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 3.3s;
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(1) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 3.4s;
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(2) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 3.6s;
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(3) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 3.9s;
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(4) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 4.3s;
}
.menu__core .menu__part:nth-child(2) .card_dish:nth-child(5) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 4.8s;
}
.menu__core .menu__part:nth-child(3) {
  /* jusqu'a 5 : valeur a changer en fonction du nombre de plat par menu */
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(0) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 5.1s;
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(1) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 5.2s;
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(2) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 5.4s;
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(3) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 5.7s;
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(4) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 6.1s;
}
.menu__core .menu__part:nth-child(3) .card_dish:nth-child(5) {
  transform: scale(0);
  animation: popOn 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  animation-delay: 6.6s;
}
.menu__img {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
@media screen and (max-width: 730px) {
  .menu__img {
    height: 180px;
  }
}
.menu__img img {
  max-width: 100vw;
}
@media screen and (min-width: 730px) {
  .menu__img img {
    position: fixed;
    left: 0;
  }
}

#back-home {
  position: fixed;
  margin: 20px 45%;
  width: 10%;
  padding: 7px;
  background-color: #D3573C;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px -4px 8px 0 rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}

.index h1 {
  position: absolute;
  width: 25%;
  right: 0;
  top: 0;
  text-align: center;
  padding: 60px 60px 0 60px;
}

/*# sourceMappingURL=style.css.map */
