@keyframes popOn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disappear {
  0%, 99% {
    position: relative;
  }
  100% {
    position: absolute;
  }
}
@keyframes appear {
  0%, 99% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}
@keyframes load {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 30px 10px 30px 10px;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 1.25rem !important;
}
.mb-6 {
  margin-bottom: 1.5rem !important;
}
.mb-7 {
  margin-bottom: 1.75rem !important;
}
.mb-8 {
  margin-bottom: 2rem !important;
}
.mb-9 {
  margin-bottom: 2.25rem !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.mb-x4 {
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 1.25rem !important;
}
.mt-6 {
  margin-top: 1.5rem !important;
}
.mt-7 {
  margin-top: 1.75rem !important;
}
.mt-8 {
  margin-top: 2rem !important;
}
.mt-9 {
  margin-top: 2.25rem !important;
}
.mt-10 {
  margin-top: 2.5rem !important;
}
.mt-x4 {
  margin-top: 4rem !important;
}

img {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
header #nav {
  width: 50%;
  padding: 60px 60px 0 60px;
}
@media screen and (max-width: 1200px) {
  header #nav {
    width: auto;
    padding: 20px 10px;
  }
}
header .empty {
  width: 25%;
  padding: 60px 60px 0 60px;
}
header .home {
  width: 25%;
  padding: 60px 60px 0 60px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  header .home {
    width: auto;
    padding: 20px 0px;
    text-align: start;
  }
}
header .home img {
  width: 200px;
}
@media screen and (max-width: 1200px) {
  header .home img {
    width: 150px;
  }
}

footer div {
  display: flex;
  width: 100%;
  justify-content: start;
}
footer div a img {
  height: 30px;
  width: auto;
}

* {
  font-family: DM Sans, sans-serif;
}

h1 {
  color: #901C1C;
  font-weight: 400;
}

.tags {
  margin: auto;
  width: 100%;
  font-size: small;
}
.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tags ul .tag-link {
  color: #901C1C;
  list-style: none;
  border-radius: 10px;
  margin: 5px;
  z-index: 1;
}
.tags ul .tag-link li {
  z-index: -1;
  padding: 2px 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #901C1C;
}
.tags ul .tag-link li::before {
  content: "#";
  font-style: italic;
}
.tags ul .tag-link li.activated {
  background-color: #901C1C;
  color: white;
}
.tags ul .tag-link:hover {
  background-color: #901C1C;
  color: white;
}
.tags ul .tag {
  color: #901C1C;
  list-style: none;
  border-radius: 10px;
  margin: 5px;
  z-index: 1;
}
.tags ul .tag li {
  z-index: -1;
  padding: 2px 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #901C1C;
}
.tags ul .tag li::before {
  content: "#";
  font-style: italic;
}
.tags ul .tag li.activated {
  background-color: #901C1C;
  color: white;
}

#form-modal {
  position: fixed;
  background-color: #D3573C;
  margin: auto;
  right: 30%;
  left: 30%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  width: 25%;
  display: none;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), -4px -4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 900px) {
  #form-modal {
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: auto;
  }
}
#form-modal form {
  height: 100%;
}
#form-modal form header {
  height: 15%;
}
@media screen and (max-width: 900px) {
  #form-modal form header {
    flex-direction: row;
    justify-content: space-between;
  }
}
#form-modal form header h1 {
  display: flex;
  flex-direction: column;
  color: black;
}
#form-modal form header button {
  border-style: none;
  outline-style: none;
  background-color: transparent;
  cursor: pointer;
  font-family: cursive;
  font-size: 2rem;
  color: white;
  width: 45px;
  height: 45px;
}
#form-modal form header button:hover, #form-modal form header button:focus {
  border-radius: 5px;
  border: 2px solid white;
}
#form-modal form .formData {
  display: flex;
  flex-direction: column;
}
#form-modal form .formData > * {
  height: 30px;
}
@media screen and (max-width: 900px) {
  #form-modal form .formData > * {
    height: 40px;
  }
}
#form-modal form .formData label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2rem;
}
#form-modal form .formData input,
#form-modal form .formData textarea {
  border-radius: 5px;
  border-style: hidden;
}
#form-modal form .formData textarea {
  height: 75px;
}
@media screen and (max-width: 900px) {
  #form-modal form .formData textarea {
    height: 150px;
  }
}
#form-modal form .formData p {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  left: 150px;
  border-radius: 5px;
  padding: 2px;
  margin-top: 10px;
  border: 1px solid red;
  height: auto;
}
#form-modal form .form-submit {
  margin-top: 10px;
  border-style: none;
  border-radius: 5px;
  outline-style: none;
  background-color: #901C1C;
  cursor: pointer;
  color: white;
  padding: 20px 10px;
  font-size: 1em;
  font-weight: 600;
  padding: 12px 25px;
}
#form-modal form .form-submit:focus {
  border-radius: 5px;
  border: 2px solid black;
}
@media screen and (max-width: 900px) {
  #form-modal form .form-submit {
    padding: 7px 40px;
    margin: 20px 30%;
  }
}

#medias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  #medias {
    margin-top: 0;
  }
}
#medias .media-container {
  width: 300px;
  height: 300px;
  margin-bottom: 75px;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 900px) {
  #medias .media-container {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
#medias .media-container .media-infos {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  padding: 5px;
  font-size: 1em;
}
#medias .media-container .media-infos .media-like {
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
#medias .media-container .media-infos .media-like .fa-heart {
  cursor: pointer;
  font-size: 1.2rem;
}
@keyframes fave-heart {
  0% {
    font-size: 1.2rem;
  }
  100% {
    font-size: 2rem;
  }
}
#medias .media-container .media-infos .media-like .fa-heart:active {
  animation: fave-heart 0.1s;
}
#medias .media-container .media-div {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  #medias .media-container .media-div {
    width: auto;
    height: 250px;
    border-radius: 5px;
  }
}
#medias img,
#medias video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  #medias img,
#medias video {
    height: auto;
    bottom: auto;
  }
}

/* DROPDOWN */
.drop-btn {
  align-items: center;
  background: #901c1c;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  left: 11rem;
  padding: 0.625rem 1.25rem;
  position: absolute;
  top: 25.6rem;
  width: 10rem;
}

.dropdown {
  display: block;
  margin-left: 60px;
}
.dropdown > span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1.5625rem;
}
@media screen and (max-width: 900px) {
  .dropdown {
    display: none;
  }
}

.option-sort {
  border-radius: 5px;
  color: #fff;
  display: none;
  left: 176px;
  padding: 0;
  position: absolute;
  top: 409px;
  width: 10rem;
  z-index: 10;
  list-style-type: none;
}
.option-sort li {
  background: #901c1c;
  padding: 0.625rem 1.25rem;
}
.option-sort li a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.option-sort li:hover {
  background-color: #651414;
  cursor: pointer;
}
.option-sort li:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.option-sort li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.option-sort li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* CAROUSEL */
#carousel-container {
  background-color: #fff;
  height: 90%;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 900px) {
  #carousel-container {
    height: auto;
  }
}

#carousel-media {
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 90%;
}
@media screen and (max-width: 900px) {
  #carousel-media-name {
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  #carousel-media {
    margin: 0;
    width: auto;
  }
}

#carousel-media img,
#carousel-media video {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.close-carousel-icon {
  color: #901c1c;
  font-size: 1.7rem;
  position: absolute;
  right: -3rem;
  top: 0.5rem;
}
@media screen and (max-width: 900px) {
  .close-carousel-icon {
    top: auto;
  }
}

.left-arrow-carousel {
  color: #901c1c;
  font-size: 2rem;
  left: -3rem;
  position: absolute;
  top: 48%;
}

.right-arrow-carousel {
  color: #901c1c;
  font-size: 2rem;
  position: absolute;
  right: -3rem;
  top: 48%;
}

aside {
  background-color: #fff;
  display: none;
  height: 200vw;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  aside {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

aside article:nth-last-child(1) {
  color: #901c1c;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 600px) {
  .close-carousel-icon {
    cursor: pointer;
    right: 1rem;
    top: 0.5rem;
  }

  .left-arrow-carousel {
    cursor: pointer;
    left: 0;
    top: 48%;
  }

  .right-arrow-carousel {
    cursor: pointer;
    right: 0;
    top: 48%;
  }

  aside article:nth-last-child(1) {
    left: 23%;
    padding: 0.5rem 0;
  }
}
.group-cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .group-cards {
    flex-flow: column wrap;
    padding: 0;
  }
}
.group-cards .card_user {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  transition: 0.3s;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22%;
  min-width: 22%;
}
@media screen and (max-width: 1200px) {
  .group-cards .card_user {
    width: auto;
  }
}
.group-cards .card_user:hover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1), -4px -4px 8px 0 rgba(0, 0, 0, 0.1);
}
.group-cards .card_user_link-profil {
  text-align: center;
}
.group-cards .card_user_link-profil .img_user-profil {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
@media screen and (max-width: 1200px) {
  .group-cards .card_user_link-profil .img_user-profil {
    width: 100px;
    height: 100px;
  }
}
.group-cards .card_user_link-profil .img_user {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
.group-cards .card_user_link-profil .imgL img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.group-cards .card_user_link-profil .imgP img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
}
.group-cards .card_user_link-profil h2 {
  color: #D3573C;
  margin: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}
.group-cards .card_user .text_user {
  text-align: center;
}
.group-cards .card_user .text_user > * {
  margin: 3px;
}
.group-cards .card_user .text_user .loc_user {
  color: #901C1C;
  font-size: larger;
  margin: 3px;
}
.group-cards .card_user .text_user .price_user {
  color: #D3573C;
}

#profil #banner {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  #profil #banner {
    margin-bottom: 0;
  }
}
#profil #banner .home {
  width: 0;
}
#profil .profil-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  #profil .profil-header {
    margin: 0;
    width: auto;
    padding-bottom: 0;
  }
}
#profil .profil-header .infos {
  margin-right: 30px;
}
@media screen and (max-width: 1200px) {
  #profil .profil-header .infos {
    margin: 0;
  }
}
#profil .profil-header .infos > * {
  margin-bottom: 15px;
}
#profil .profil-header .infos h2 {
  color: #D3573C;
  margin: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}
#profil .profil-header .infos .city {
  color: #901C1C;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}
#profil .profil-header .infos .tagline {
  color: #525252;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
#profil .profil-header #contact {
  border-style: none;
  border-radius: 5px;
  outline-style: none;
  background-color: #901C1C;
  cursor: pointer;
  color: white;
  padding: 20px 10px;
  font-size: 1em;
  font-weight: 600;
}
#profil .profil-header #contact:focus {
  border-radius: 5px;
  border: 2px solid black;
}
@media screen and (max-width: 1200px) {
  #profil .profil-header #contact {
    position: fixed;
    z-index: 2;
    padding: 10px;
    margin: 30%;
    min-width: 40%;
    bottom: -10%;
  }
}
#profil .profil-header .image {
  flex: 1 1 auto;
  display: flex;
  margin-right: 3%;
  justify-content: flex-end;
}
#profil .profil-header .image .img_user-profil {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
@media screen and (max-width: 1200px) {
  #profil .profil-header .image .img_user-profil {
    width: 100px;
    height: 100px;
  }
}
#profil .profil-header .image .img_user {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
#profil .profil-header .image .imgL img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#profil .profil-header .image .imgP img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
}
#profil .profil-header .image .img_user {
  margin: 0;
}
#profil .profil-header .tags ul {
  justify-content: flex-start;
}
#profil .profil-header .tags ul a:hover {
  background-color: #901C1C;
  color: white;
}

#price {
  display: none;
}

@media (min-width: 900px) {
  #price {
    align-items: center;
    background: #D3573C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    height: 60px;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed;
    right: 2.5rem;
    width: 230px;
  }

  #price .fa-heart {
    left: 4.8rem;
    position: absolute;
  }
}
#back-home {
  position: fixed;
  margin: 20px 44%;
  width: 12%;
  padding: 7px;
  background-color: #D3573C;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px -4px 8px 0 rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  #back-home {
    margin: 10% 30%;
    width: auto;
  }
}

.index h1 {
  position: absolute;
  width: 25%;
  right: 0;
  top: 0;
  text-align: center;
  padding: 60px 60px 0 60px;
}
@media screen and (max-width: 1200px) {
  .index h1 {
    width: auto;
    padding: 35px 0px;
    font-size: larger;
  }
}

/*# sourceMappingURL=style.css.map */
