/* DROPDOWN */

.drop-btn {
    align-items: center;
    background: #901c1c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    left: 11rem;
    padding: 0.625rem 1.25rem;
    position: absolute;
    top: 25.6rem;
    width: 10rem;
}

.dropdown {
    display: block;
    margin-left: 60px;
    & > span {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 1.5625rem;
    }

    @media screen and (max-width: 900px) {
        display: none;
    }

}
.option-sort {
    border-radius: 5px;
    color: #fff;
    display: none;
    left: 176px;
    padding: 0;
    position: absolute;
    top: 409px;
    width: 10rem;
    z-index: 10;
    list-style-type: none;
    li {
        background: #901c1c;
        padding: 0.625rem 1.25rem;

        a{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        
        &:hover {
            background-color: #651414;
            cursor: pointer;
        }

        &:nth-child(1) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
