/* DROPDOWN */

.dropdown {
    display: flex;
    margin-left: 60px;
    align-items: center;

    #sort-text {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 1.5625rem;
    }

    #sort-media {
        height: 50px;
        padding: 15px 10px;
        border-style: none;
        border-radius: 5px;
        background-color: $bgcolor-primary;
        cursor: pointer;
        color: white;
        font-size: 1em;
        font-weight: 600;
      
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

