.loader {
    color: $colour-tertiary;
    font-size: 20px;
    margin: 200px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: load 1.4s 2 linear, disappear 4s linear both;
}
