#medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        margin-top: 0;
    }

    .media-container {
        width: 300px;
        height: 300px;
        margin-bottom: 75px;
        margin-left: 5%;
        margin-right: 5%;
        @media screen and (max-width: 900px) {
            margin-left: 0;
            margin-right: 0;
            height: auto;
            width: 100%;
            margin-bottom: 20px;
        }
        .media-infos {
            display: flex;
            justify-content: space-between;
            color: $color-secondary;
            padding: 5px;
            font-size: 1em;

            .media-like {
                font-size: larger;
                font-weight: bold;
                display: flex;
                align-content: center;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                width: 25%;

                .fa-heart {
                    cursor: pointer;
                    font-size: 1.2rem;
                    @keyframes fave-heart {
                        0% {
                            font-size: 1.2rem;
                        }
                        100% {
                            font-size: 2rem;
                        }
                    }
                    &:active {
                        animation: fave-heart 0.1s;
                    }
                }
            }
        }
        .media-div {
            width: 300px;
            height: 300px;
            position: relative;
            overflow: hidden;
            @media screen and (max-width: 900px) {
                width: auto;
                height: 250px;
                border-radius: 5px;
            }
        }
    }

    img,
    video {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 900px) {
            height: auto;
            bottom: auto;
        }
    }
}
