.tags {
    margin: auto;
    width: 100%;
    font-size: small;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .tag-link {
            @include tag;
        }

        .tag {
            @include tag;
        }
    }
}
