.group_card {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;

    .card {
        @include box-shadow();
        border: 2px solid white;
        margin: 0 20px 20px 20px;
        transition: 0.3s;
        border-radius: 15px;
        height: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            @include box-shadow(0.8);
        }



        &_dish {
            display: flex;
            flex-flow: nowrap row;
            width: 100%;
            max-width: 100%;
            padding: 5px 10px;
            height: 50px;
            border: none;
            overflow: hidden;

            &_note {
                white-space: nowrap;
                overflow: hidden;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                & > p, > h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &_price {
                font-weight: bold;
                font-size: 0.9em;
                align-self: flex-end;
            }

            &_confirmation {
                background-color: $colour-tertiary;
                margin: -1em -6em -1em 2em;
                width: 5em;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 0.5s;
            }

            &:hover .card_dish_confirmation {
                margin-right: -1em;
            }

            &_wrapIcon {
                height: 1.6em;
                width: 1.6em;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transform: rotate(-180deg);
                transition-duration: 0.7s;
            }

            &:hover .card_dish_wrapIcon {
                transform: rotate(0);
            }

            &_icon {
                color: $colour-tertiary;
            }
        }

        &__body {
            display: flex;
            justify-content: space-between;

            &__core {
                padding: 10px;

                &__title {
                    font-size: 0.8em;
                    font-weight: 900;
                    margin-bottom: 4px;
                }

                &__text {
                    font-size: 0.7em;
                }
            }

            .favory {
                @include favory;
            }
        }


        &__image {
            display: flex;
            align-items: center;
            overflow: hidden;
            width: 100%;

            img {
                width: inherit;
            }
        }

        &--new {
            position: absolute;
            top: 10px;
            right: 15px;
            background-color: $colour-tertiary;
            padding: 5px 10px;
            font-size: 0.7em;
            z-index: 2;
        }
    }
}
