.group-cards {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;
    width: 100%;

    .card_user {
        margin: 30px 20px 20px 20px;
        padding: 20px;
        transition: 0.3s;
        border-radius: 10px;
        height: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 22%;
        min-width: 22%;

        &:hover {
            @include box-shadow(0.1);
        }

        &_link-profil {
            text-align: center;

            .img_user {
                position: relative;
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
                margin: 20px auto;
            }
            .imgL {
                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                }
            }

            .imgP {
                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: auto;
                    height: 100%;
                }
            }

            h2 {
                @include name-user;
            }
        }

        .text_user {
            text-align: center;

            & > * {
                margin: 3px;
            }
            .loc_user {
                color: $color-secondary;
                font-size: larger;
                margin: 3px;
            }

            .price_user {
                color: $color-primary;
            }
        }
    }
}
