#profil {
    #banner {
        margin-bottom: 50px;
        .home {
            width: 0;
        }
    }

    .profil-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        align-items: flex-start;

        .infos {
            margin-right: 30px;

            & > * {
                margin-bottom: 15px;
            }

            h2 {
                @include name-user;
            }

            .city {
                color: $color-secondary;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 31px;
            }

            .tagline {
                color: #525252;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
            }
        }

        #contact {
            @include btn-principal;
        }

        .image {
            @include img-user;
            .img_user {
                margin: 0;
            }
            flex: 1 1 auto;
            display: flex;
            margin-right: 3%;
            justify-content: flex-end;
        }

        .tags ul {
            justify-content: flex-start;
        }
    }
}

#price {
    display: none;
}

@media (min-width: 900px) {
    #price {
        align-items: center;
        background: $bgcolor-secondary;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        bottom: 0;
        display: flex;
        font-size: 1.2em;
        font-weight: 700;
        height: 60px;
        justify-content: space-between;
        padding: 0 2rem;
        position: fixed;
        right: 2.5rem;
        width: 230px;
    }

    #price .fa-heart {
        left: 4.8rem;
        position: absolute;
    }
}
